.menu-btn {
    position: absolute;
    right: 35px;
    top: 35px;
    cursor: pointer;
    z-index: 4;
    @include easeOut;


    .menu-bar {
        background-color: white;
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        @include easeOut
    }

    &.close {
        transform: rotate(180deg);
        .menu-bar{
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -6px);

            }
        }
    }
}

.menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    margin: 0 0 0 auto;
    width: 200px;

    height: 100%;
    z-index: 3;
    padding-top: 60px;
    padding-left: 0px;
    margin-left: 0px;


    color: white;
    background-color: rgba(24, 24, 24, 0.918);

    visibility: hidden;

    transform: translate3d(100%, 0, 0);
    @include easeOut;


    &.show{
        visibility: visible;
        
        transform: translate3d(0, 0, 0);
        
    }

    .menu-link {
        display: inline-block;
        position: relative;
        font-size: 20px;
        text-transform: uppercase;
        list-style: none;
        padding: 1rem 0;
        font-weight: 400;
        text-decoration: none;
        @include easeOut;

        &:hover {
            color: $hover-color;
        }
    }

    .current {
        text-decoration: underline;
        text-underline-position: under;
        color: $link-color;
        font-size: 25px;
        &:hover{
            color: $link-color;
        }
    }
}

.menu-items {
  display: hidden;
}
