@import 'config';
@import 'menu';

body {
    background-color: $primary-color;  
}


h1, h2, h3, h4, p, a {
    font-family: 'Raleway', sans-serif;;
    margin: 0;
    height: 100%;
    line-height: 1.5;
    color: $text-color;

    &.main-heading {
        color: $text-color;
        font-size: 4rem;
        letter-spacing: 0.7rem;
        padding: 20px;
    }

    &.secondary-heading {
        font-size: 15px;
        letter-spacing: 0.1rem;
    }
}

.icons {
    padding: 20px;
    
    a { 
        padding: 20px;
        color: $link-color;
        text-decoration: none;
        &:hover {
            color: $hover-color;
            transition: all 0.3s ease-out;

        }
    }

    
}


  
.menu-item {
    display: none;
  }
  

#home {
    margin: 30px 50px 30px 50px;
}

#main-footer {

    // sector divider
    .line{
        width: 100%;
        height: 2px;
        background-color: white;
    }

    // footer grid

    .footer{
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'linkedin github';
 
        color: $text-color;
        padding-top: 10px;
        padding-bottom: 5px;


        .footer-github{
            grid-area: github;
            font-size: 8px;
            text-align: left;
        }
    
        .footer-linkedin{
            grid-area: linkedin;
            font-size: 8px;
            text-align: right;
        }
    
        
    }



    a { 
        padding: 5px;
        color: $link-color;
        text-decoration: none;
        &:hover {
            color: #ca89ff;
            transition: all 0.3s ease-out;

        }
    }
    .footer-bio{
        grid-area: bio;
        font-size: 12px;
        padding-top: 5px;
        padding-bottom: 10px;
        text-align: center;
       
    }

    .footer-contact{
        text-align: center;
        text-decoration: none;
        letter-spacing: 1px;
        color: $link-color;
        border: solid $link-color 1px;
        width: 110px;
        height: 20px;
        line-height: 20px;

        margin: auto;
        display: block;

        &:hover{
            border: solid $hover-color 1px;
            transition: all 0.5s ease-out;
        }
        
    }

}

